@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Base styles for sections */
section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    height: 110vh;
}

/* Section becomes visible when in view */
section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 2vw;
    z-index: 1000;
    height: 10vh;
    /* height: 10vh; */
}

.navbar ul {
    display: flex;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: end;
    gap: 2vw;
    font-size: 1.2rem;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
}

.navbar ul li a.active {
    font-weight: bold;
    text-decoration: none;
    /* Remove default underline */
    border-bottom: 0.6vh solid black;
    padding-bottom: 1vh;
}

.navbar ul li a:hover {
    cursor: pointer;
}

.customTextShadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.card {
    height: 60vh;
    width: 25vw;
    background-color: rgb(189, 189, 189);
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
        0 10px 10px rgba(0, 0, 0, 0.1);
}

.card:hover .buttons button {
    cursor: pointer;
    opacity: 1;

}

.card .buttons {
    justify-content: center;
    column-gap: 2vw;
    display: flex;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
}

.card .buttons button {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    padding: 1vh;
    cursor: pointer;
    width: 8vw;
    border-radius: 1vh;
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); */
    /* white shadow */
    transition: opacity 0.5s ease-in-out;
    /* Slow and smooth transition for opacity */
    opacity: 0;
}

.card .buttons button:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    /* more pronounced white shadow on hover */
    cursor: pointer;
}

.skillsCard {

    background-color: #d1d1d1;
    border-radius: 2vw;
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Default light shadow */
  transition: transform 0.5s ease, box-shadow 0.5s ease; /* Smooth transitions for transform and shadow */
   
}

.skillsCard:hover {
    transform: translateY(-10px); /* Translate the div upwards slightly on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Increase the shadow for a glowing effect */

}
.experianceCards {

    background-color: #d1d1d1;
    border-radius: 2vw;
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Default light shadow */
  transition: transform 0.5s ease, box-shadow 0.5s ease; /* Smooth transitions for transform and shadow */
   
}

.experianceCards:hover {
    transform: translateY(-10px); /* Translate the div upwards slightly on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Increase the shadow for a glowing effect */

}

.educationCard{
    height: 30vh;
    width: 20vw;
    background-color: rgb(189, 189, 189);
    border-radius: 2vw;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.educationCard:hover{
    transform: translateY(-8px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
        0 10px 10px rgba(0, 0, 0, 0.1);
}
.seprationLine{
    width: 10vw;
    height: 1vh;
    background-color: rgb(189, 189, 189);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    
}

.glassmorphism {
    backdrop-filter: blur(10px);
  }
  

